@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
    font-family: 'Press Start 2P', cursive;
}
#interface{
    width: 760px;
    margin: 0 auto;
}
section {
    margin-top: 80px;
    margin-left: 240px;
}
section input{
    text-align: center;
    margin-left: 105px;
    margin-bottom: 20px;
    width: 50px;
}
section input, button{   
    font-family: 'Press Start 2P', cursive;
}
footer#rodape{
    font-size: 8pt; 
    clear: both;
    border-top: 1px solid #606060;
    padding-top: 5px;
}
footer#rodape p{
    text-align: center;
}
